<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.iteso.practica.uno.estructura_practica_uno">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
